<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.web.mapper.InstDynamicMapper" >
  
  <select id="findByPage" resultType="InstDynamic">
  	select * from inst_dynamic limit 0,5  
  </select>
 
  <select id="getTotalCount" resultType="Integer">
  	select count(*) from inst_dynamic
  </select>
  
  <select id="queryByPage" parameterType="com.hc.web.util.QueryVo" resultType="InstDynamic">
  
  	select * from inst_dynamic limit #{beginIndex},#{pageSize}
  </select>
  
  <select id="findById" parameterType="Integer" resultType="InstDynamic">
  	select * from inst_dynamic where art_id = #{artId}
  </select>
</mapper>