<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hc.web.mapper.VideoMapper">
	
	<select id="getVideo" resultType="Video">
		SELECT * FROM video WHERE  v_isrecommend='1' LIMIT 4
	</select>

</mapper>
